.disenador {
  text-align: center;
  display: block; }

.anoDiseno {
  text-align: center;
  display: block; }

.collapse {
  padding: 40px; }

.nomAmbiente {
  padding: 40px; }

.txtAmbiente p {
  padding: 2% 10% !important; }

.titularAcord {
  width: 100%;
  background-color: #fff;
  padding: 20px 40px;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000; }

.woocommerce.single-product.qode-product-single-wide-gallery .product .images {
  width: 50.55%;
  margin-right: 1.9%; }

.woocommerce.single-product.qode-product-single-wide-gallery .product .summary {
  width: 46.55%;
  padding-right: 15px;
  box-sizing: border-box; }

li.additional_information_tab {
  display: none !important; }

.breadcrumb {
  background-color: #fff !important;
  left: 0; }

.product_meta {
  display: none; }

.woocommerce .single-product h1.product_title {
  font-family: 'Fredoka One', sans-serif !important;
  font-size: 1.6em; }

/*# sourceMappingURL=myestilo.css.map */
