@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #ffffff;
	}
				.header_bottom,
		nav.mobile_menu{
			background-color: #ffffff !important;
		}
					.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner {
			padding-top:10pxpx !important; /*important because of the inline style on page*/
		}
	}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
			h2, h2 a {
			font-size: 48px; 			line-height: 54px; 		    		}
	
			h3, h3 a {
			font-size: 35px; 					    		}
	
			h4, h4 a {
			font-size: 26px; 					    		}
	
			h5, h5 a {
			font-size: 22px; 					    		}
	
	
			body,
		p {
			font-size: 16px; 					    		}
	
	
	
	
	
	
	
}
@media only screen and (max-width: 600px) {
	
			h2, h2 a {
			font-size: 40px; 			line-height: 44px; 		    		}
	
			h3, h3 a {
			font-size: 30px; 					    		}
	
			h4, h4 a {
			font-size: 22px; 					    		}
	
			h5, h5 a {
			font-size: 20px; 			line-height: 32px; 		    		}
	
	
			body,
		p {
			font-size: 14px; 					    		}
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}